<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Chinthana -->
    <servlet>
        <servlet-name>UserControllerServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.UserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControlServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.LoginControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControlServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.LogoutControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNoticeServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.AddNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNoticeServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.UpdateNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.DeleteNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDBUtil</servlet-name>
        <servlet-class>com.g7sims.chinthana.CourseDBUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNoticeServlet</servlet-name>
        <servlet-class>com.g7sims.chinthana.SearchNoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserControllerServlet</servlet-name>
        <url-pattern>/UserControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControlServlet</servlet-name>
        <url-pattern>/LoginControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControlServlet</servlet-name>
        <url-pattern>/LogoutControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNoticeServlet</servlet-name>
        <url-pattern>/AddNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNoticeServlet</servlet-name>
        <url-pattern>/UpdateNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <url-pattern>/DeleteNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDBUtil</servlet-name>
        <url-pattern>/CourseDBUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/UpdateCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNoticeServlet</servlet-name>
        <url-pattern>/SearchNoticeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>3600</session-timeout>
    </session-config>
    <!-- Shakya -->
    <servlet>
        <servlet-name>viewAllTute</servlet-name>
        <servlet-class>com.g7sims.shakya.ViewAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewAllTute</servlet-name>
        <url-pattern>/viewAllTute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertTute</servlet-name>
        <servlet-class>com.g7sims.shakya.InsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertTute</servlet-name>
        <url-pattern>/insertTute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTute</servlet-name>
        <servlet-class>com.g7sims.shakya.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteTute</servlet-name>
        <url-pattern>/deleteTute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateTute</servlet-name>
        <servlet-class>com.g7sims.shakya.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateTute</servlet-name>
        <url-pattern>/updateTute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchTute</servlet-name>
        <servlet-class>com.g7sims.shakya.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchTute</servlet-name>
        <url-pattern>/searchTute</url-pattern>
    </servlet-mapping>
    <!-- Pabasara -->
    <servlet>
        <servlet-name>viewAllResults</servlet-name>
        <servlet-class>com.g7sims.pabasara.examUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewAllResults</servlet-name>
        <url-pattern>/viewAllResults</url-pattern>
    </servlet-mapping>
    <!-- Ishini -->
    <servlet>
        <servlet-name>viewAllPayments</servlet-name>
        <servlet-class>com.g7sims.ishini.ViewAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewAllPayments</servlet-name>
        <url-pattern>/viewAllPayments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertPayment</servlet-name>
        <servlet-class>com.g7sims.ishini.InsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertPayment</servlet-name>
        <url-pattern>/insertPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePayment</servlet-name>
        <servlet-class>com.g7sims.ishini.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePayment</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePayment</servlet-name>
        <servlet-class>com.g7sims.ishini.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePayment</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchPayment</servlet-name>
        <servlet-class>com.g7sims.ishini.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchPayment</servlet-name>
        <url-pattern>/searchPayment</url-pattern>
    </servlet-mapping>
</web-app>
